    <!-- HOME -->
    {% load static %}

    <section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'images/hero_1.jpg' %});" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">İlan Ver</h1>
            <div class="custom-breadcrumbs">
              <a href="/">Anasayfa</a> <span class="mx-2 slash">/</span>
              <!--<a href="#">İş</a> <span class="mx-2 slash">/</span>-->
              <span class="text-white"><strong>İlan Ver</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

{% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert" align="center">
                {{ message }}
            </div>
        {% endfor %}
{% endif %}

    <section class="site-section">
      <div class="container">
        <form enctype="multipart/form-data" class="p-4 p-md-5 border rounded" method="post">
        <div class="row align-items-center mb-5">
          <div class="col-lg-8 mb-4 mb-lg-0">
            <div class="d-flex align-items-center">
              <div>
                <h2>İlan Ver</h2>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="row">
              <div class="col-6">
                <a href="#" class="btn btn-block btn-light btn-md"><span class="icon-open_in_new mr-2"></span>Preview</a>
              </div>
              <div class="col-6">
                <input type="submit" value="Gönder" class="btn btn-primary btn-block btn-md text-white">
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-lg-12">
              <h3 class="text-black mb-5 border-bottom pb-2">İlan Ayrıntıları</h3>
              <div class="form-group">
                <label for="company-website-tw d-block">Poster Yükle</label> <br>
                <label class="btn btn-primary btn-md btn-file">
                  {{ ilan.sirketPoster }}Gözat<input type="file" hidden>
                </label>
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                {{ ilan.email }}
              </div>
              <div class="form-group">
                <label for="job-title">İlan Başlığı</label>
                {{ ilan.ilanBaslik }}
              </div>
              <div class="form-group">
                <label for="job-location">Konum</label>
                {{ ilan.konum }}
              </div>

              <div class="form-group">
                <label for="job-region">İş Türü</label>
                {{ ilan.isTuru }}
              </div>

              <div class="form-group">
                <label for="job-type">Çalışma Zamanı</label>
                {{ ilan.calismaZamani }}
              </div>


              <div class="form-group">
                <label for="job-description">İş Tanımı</label>
                <div class="editor" id="editor-1" style="height: 500px" aria-required="true">
                  {{ ilan.isTanimi | safe}}
                </div>
              </div>

              <div class="form-group">
                <label for="job-description">Genel Nitelikler</label>
                <div class="editor" id="editor-2" style="height: 500px">
                  {{ ilan.genelNitelikler | safe}}
                </div>
              </div>

              <div class="form-group">
                <label for="experience">Tecrübe</label>
                  {{ ilan.tecrube }}
              </div>

              <div class="form-group">
                <label for="worker-number">Personel Sayısı</label>
                  {{ ilan.personelSayisi }}
              </div>

              <div class="form-group">
                <label for="deadline">Son Başvuru Tarihi</label>
                  <input type="date" value={{ ilan.sonBasvuru | safe}}
              </div>

              <h3 class="text-black my-5 border-bottom pb-2">Şirket Ayrıntıları</h3>
              <div class="form-group">
                <label for="company-name">Şirket İsmi</label>
                {{ ilan.sirketIsmi }}
              </div>

              <div class="form-group">
                <label for="company-tagline">Etiket Alanı (Opsiyonel)</label>
                {{ ilan.etiketAlani }}
              </div>

              <div class="form-group">
                <label for="company-website">Website (Opsiyonel)</label>
                {{ ilan.sirketWebsite }}
              </div>

              <div class="form-group">
                <label for="company-website-fb">Facebook (Optional)</label>
                  {{ ilan.sirketFacebook }}
              </div>

              <div class="form-group">
                <label for="company-website-tw">Twitter (Optional)</label>
                {{ ilan.sirketTwitter }}
              </div>
              <div class="form-group">
                <label for="company-website-tw">Linkedin (Optional)</label>
                {{ ilan.sirketLinkedin }}
              </div>

              <div class="form-group">
                <label for="company-website-tw d-block">Logo Yükle</label> <br>
                <label class="btn btn-primary btn-md btn-file">
                  {{ ilan.sirketLogo }}Gözat<input type="file" hidden>
                </label>
              </div>
          </div>


        </div>
        <div class="row align-items-center mb-5">

          <div class="col-lg-4 ml-auto">
            <div class="row">
              <div class="col-6">
                <a href="#" class="btn btn-block btn-light btn-md"><span class="icon-open_in_new mr-2"></span>Preview</a>
              </div>
              <div class="col-6">
                {% csrf_token %}
                <input type="submit" value="Gönder" class="btn btn-block btn-primary btn-md text-white">
              </div>
            </div>
          </div>
        </div>
          </form>
      </div>
    </section>

  </div>


  </body>
</html>