    <!-- HOME -->
    {% load static %}
    <section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'images/hero_1.jpg' %});" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Sıkça Sorulan Sorular</h1>
            <div class="custom-breadcrumbs">
              <a href="index.html">Ana Sayfa</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>S.S.S.</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-section" id="accordion">
      <div class="container">

        <div class="row accordion justify-content-center block__76208">
          <div class="col-lg ml-auto">

              {% for question in sss %}
                <div class="accordion-item">
                  <h3 class="mb-0 heading">
                    <a class="btn-block h4" data-toggle="collapse" href="#collapse{{ question.no }}" role="button" aria-expanded="false" aria-controls="collapse{{ question.no }}">{{ question.question }}<span class="icon"></span></a>
                  </h3>
                  <div id="collapse{{ question.no }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="body-text">
                      <p>{{ question.answer }}</p>
                    </div>
                  </div>
                </div> <!-- .accordion-item -->
              {% endfor %}

          </div>


        </div>
      </div>
    </section>

  </div>

  </body>
</html>