    <!-- HOME -->
    {% load static %}
    {% csrf_token %}
    <section class="site-section" id="next">
      <div class="container">

        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="section-title mb-2">{{ sayi }} Sonuç Bulundu</h2>
          </div>
        </div>

        <ul class="job-listings mb-5">



              {% for rs in ilanlar %}

                  <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
                    <a href="job-single.html"></a>
                    <div class="job-listing-logo">
                        <img src="{{ rs.sirketLogo.url }}" alt="Image" class="img-fluid">
                    </div>

                    <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                        <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                            <h2>{{ rs.ilanBaslik }}</h2>
                            <strong>{{ rs.sirketIsmi }}</strong>
                        </div>
                        <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                            <span class="icon-room"></span> {{ rs.konum }}
                        </div>
                        <div class="job-listing-meta">
                            <span class="badge
                            {% if rs.get_calismaZamani_display == "Tam Zamanlı"%}
                                badge-success
                            {% endif %}
                            {% if rs.get_calismaZamani_display == "Yarı Zamanlı" %}
                                badge-danger
                            {% endif %}
                        ">{{ rs.get_calismaZamani_display }}</span>
                        </div>
                    </div>

                  </li>

              {% endfor %}



        </ul>

        <div class="row pagination-wrap">
          <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
            <span>Showing 1-7 Of {{ sayi }} Jobs</span>
          </div>
          <div class="col-md-6 text-center text-md-right">
            <div class="custom-pagination ml-auto">
              <a href="#" class="prev">Geri</a>
              <div class="d-inline-block">
              <a href="#" class="active">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              </div>
              <a href="#" class="next">İleri</a>
            </div>
          </div>
        </div>

      </div>
    </section>



  </body>
</html>