    <!-- HOME -->
    {% load static %}

    <section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'images/hero_1.jpg' %});" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Başvurularım</h1>
            <div class="custom-breadcrumbs">
              <a href="/">Ana Sayfa</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Başvurularım</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert" align="center">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <section class="site-section" id="next">
      <div class="container">

        {% if not applications %}
            <div class="row mb-5 justify-content-center">
              <div class="col-md-7 text-center">
                <h2 class="section-title mb-10">Başvurulan İlan Bulunamadı!</h2>
              </div>
            </div>
        {% endif %}

        <ul class="job-listings mb-5">
              {% for job in applications %}

                  <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
                    <a href="/job_detail/{{ job.job.slug }}/{{ job.job.id }}"></a>
                    <div class="job-listing-logo">
                        <img src="{{ job.job.sirketLogo.url }}" alt="Image" class="img-fluid">
                    </div>

                    <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                        <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                            <h2>{{ job.job.ilanBaslik }}</h2>
                            <strong>{{ job.job.sirketIsmi }}</strong>
                        </div>
                        <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                            <span class="icon-room"></span> {{ job.job.konum }}
                        </div>
                        <div class="job-listing-meta">
                            <span class="badge {% if job.status == "True"%}badge-success
                                               {% elif job.status == "Pending"%}badge-info
                                               {% else %}
                                               badge-danger
                                               {% endif %}">
                            {% if job.status == "True"%}
                                Onaylandı
                            {% elif job.status == "Pending"%}
                                Onay Bekliyor
                            {% else %}
                                Reddedildi
                            {% endif %}</span>
                        </div>
                    </div>

                  </li>

              {% endfor %}

        </ul>
      </div>
    </section>

  </body>
</html>