<footer class="site-footer">

      <a href="#top" class="smoothscroll scroll-top">
        <span class="icon-keyboard_arrow_up"></span>
      </a>

      <div class="container">
        <div class="row mb-5">
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Popüler Aramalar</h3>
            <ul class="list-unstyled">
              <li><a href="#">Web Design</a></li>
              <li><a href="#">Graphic Design</a></li>
              <li><a href="#">Web Developers</a></li>
              <li><a href="#">Python</a></li>
              <li><a href="#">HTML5</a></li>
              <li><a href="#">CSS3</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Şirketimiz</h3>
            <ul class="list-unstyled">
              <li><a href="{% block aboutus %} {{ setting.aboutus }} {% endblock %}">Hakkımızda</a></li>
              <li><a href="#">Kariyer</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Kaynaklar</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Destek</h3>
            <ul class="list-unstyled">
              <li><a href="#">Destek</a></li>
              <li><a href="#">Gizlilik</a></li>
              <li><a href="#">Veri Politikamız</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>İletişim</h3>
            <div class="footer-social">
              <a href="{% block facebook %} {{ setting.facebook }} {% endblock %}"><span class="icon-facebook"></span></a>
              <a href="{% block twitter %} {{ setting.twitter }} {% endblock %}"><span class="icon-twitter"></span></a>
              <a href="{% block instagram %} {{ setting.instagram }} {% endblock %}"><span class="icon-instagram"></span></a>
              <a href="{% block linkedin %} {{ setting.linkedin }} {% endblock %}"><span class="icon-linkedin"></span></a>
            </div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-12">
            <p class="copyright"><small>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></small></p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>