<!doctype html>
<html lang="en">
  <head>
      {% load static %}

    <title>JobBoard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Free-Template.co" />
    <link rel="shortcut icon" href="{% static 'ftco-32x32.png' %}">

    <link rel="stylesheet" href="{% static 'css/custom-bs.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/line-icons/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
      {%  block head %} {% endblock %}
  </head>
  {%  include 'header.html' %}
  {%  block sidebar %} {% endblock %}
  {%  block sitestats %} {% endblock %}
  {%  block content %} {% endblock %}
  {%  block body %} {% endblock %}
  {% include 'footer.html' %}
  {%  block footer %} {% endblock %}

  <body>



  </body>
</html>