    <!-- HOME -->
    {% load static %}
    <section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'images/hero_1.jpg' %});" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Kullanıcı Şifresi Güncelle</h1>
            <div class="custom-breadcrumbs">
              <a href="/">Anasayfa</a> <span class="mx-2 slash">/</span>
              <a href="/user">Kullanıcı Profili</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Şifre Değiştir</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% if form.error_messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert" align="center">
                {{ form.error_messages }}
            </div>
        {% endfor %}
    {% endif %}
    <section class="site-section pb-0 portfolio-single" id="next-section">

      <div class="container">

        <div class="row mb-5 mt-5">

          <div class="col-lg-8">
            <figure>
              <a href="{{ user.userprofile.image.url }}" data-fancybox="gallery"><img style="border-radius: 50%;" src="{{ user.userprofile.image.url }}" alt="Profile Picture" class="img-fluid"></a>
            </figure>
          </div>

          <div class="col-lg-4 ml-auto h-100 jm-sticky-top">


            <div class="mb-4">
              <h3 class="mb-4 h4 border-bottom">Şifre Güncelle</h3>

              <p class="mb-0"></p>
            </div>
        <form action="" method="post" enctype="multipart/form-data" class="">
            <div class="row mb-4">
              <div class="col-sm-12 col-md-12 mb-4 col-lg-12">
                <strong class="d-block text-black">Eski Şifreniz</strong>
                {{ form.old_password }}
              </div>
                {{ form.old_password.help_text }}
              <div class="col-sm-12 col-md-12 mb-4 col-lg-12">
                <strong class="d-block text-black">Yeni Şifre</strong>
                {{ form.new_password1 }}
              </div>
                {{ form.new_password1.help_text }}
              <div class="col-sm-12 col-md-12 mb-4 col-lg-12">
                <strong class="d-block text-black">Yeni Şifre Tekrar</strong>
                {{ form.new_password2 }}
              </div>
                {{ form.new_password2.help_text }}
            </div>
            <div class="col-sm-12 col-md-12 mb-4 col-lg-12">
                {% csrf_token %}
                <input type="submit" value="Güncelle" class="btn btn-primary btn-md text-white">
            </div>
        </form>
          </div>
        </div>

      </div>
    </section>
  </div>


  </body>
</html>