    <!-- HOME -->
    {% load static %}
    <section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'images/hero_1.jpg' %});" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Kullanıcı Profili Güncelle</h1>
            <div class="custom-breadcrumbs">
              <a href="/">Anasayfa</a> <span class="mx-2 slash">/</span>
              <a href="/user">Kullanıcı Profili</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Güncelle</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-section pb-0 portfolio-single" id="next-section">

      <div class="container">

        <div class="row mb-5 mt-5">

          <div class="col-lg-8">
            <figure>
              <a href="{{ user.userprofile.image.url }}" data-fancybox="gallery"><img style="border-radius: 50%;" src="{{ user.userprofile.image.url }}" alt="Profile Picture" class="img-fluid"></a>
            </figure>
          </div>

          <div class="col-lg-4 ml-auto h-100 jm-sticky-top">


            <div class="mb-4">
              <h3 class="mb-4 h4 border-bottom">Profil Güncelle</h3>

              <p class="mb-0"></p>
            </div>
        <form action="" method="post" enctype="multipart/form-data" class="">
            <div class="row mb-4">
              <div class="col-sm-12 col-md-12 mb-4 col-lg-12">
                <strong class="d-block text-black">İsim</strong>
                {{ user_form.first_name }}
              </div>
              <div class="col-sm-12 col-md-12 mb-4 col-lg-12">
                <strong class="d-block text-black">Soyisim</strong>
                {{ user_form.last_name }}
              </div>
              <div class="col-sm-12 col-md-12 mb-4 col-lg-12">
                <strong class="d-block text-black">Kullanıcı Adı</strong>
                {{ user_form.username }}
              </div>
              <div class="col-sm-12 col-md-12 mb-4 col-lg-12">
                <strong class="d-block text-black">E-mail</strong>
                {{ user_form.email }}
              </div>
              <div class="col-sm-12 col-md-12 mb-4 col-lg-12">
                <strong class="d-block text-black">Telefon</strong>
                {{ profile_form.phone }}
              </div>
              <div class="col-sm-12 col-md-12 mb-4 col-lg-12">
                <strong class="d-block text-black">Adres</strong>
                {{ profile_form.address }}
              </div>
              <div class="col-sm-12 col-md-12 mb-4 col-lg-12">
                <strong class="d-block text-black">Şehir</strong>
                {{ profile_form.city }}
              </div>
              <div class="col-sm-12 col-md-12 mb-4 col-lg-12">
                <strong class="d-block text-black">Ülke</strong>
                {{ profile_form.country }}
              </div>
              <div class="col-sm-12 col-md-12 mb-4 col-lg-12">
                <strong class="d-block text-black">Profil Resmi</strong>
                <label class="btn btn-primary btn-md btn-file">
                {{ profile_form.image }}Gözat<input type="file" hidden>
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 mb-4 col-lg-12">
                {% csrf_token %}
                <input type="submit" value="Güncelle" class="btn btn-primary btn-md text-white">
            </div>
        </form>
          </div>
        </div>

      </div>
    </section>
  </div>


  </body>
</html>